// Mixins taken from node_modules/govuk-frontend/govuk/core/_typography
@import "node_modules/govuk-frontend/govuk/base";

$govuk-typography-use-rem: false;

%govuk-heading-m {
  @include govuk-text-colour;
  @include govuk-font($size: 24, $weight: bold);

  display: block;

  margin-top: 0;
  @include govuk-responsive-margin(4, "bottom");
}

%govuk-body-m {
  @include govuk-text-colour;
  @include govuk-font($size: 19);

  margin-top: 0;
  @include govuk-responsive-margin(4, "bottom");
}
