@import "node_modules/govuk-frontend/govuk/settings/all";
@import "node_modules/govuk-frontend/govuk/helpers/all";
@import "node_modules/govuk-frontend/govuk/tools/all";
@import "govuk-frontend";

.cbanner-cookie-banner {
  @include cbanner-govuk-frontend();

  background-color: govuk-colour("light-grey");
  padding: 20px 15px;

  .cbanner-cookie-banner__button-column {
    padding: 0;
  }

  .cbanner-cookie-banner__accept-all-button, .cbanner-cookie-banner__set-cookie-preferences-button {
    width: 100%;

    @include govuk-media-query(desktop) {
      width: 90%;
    }
  }

  &__confirmation-message {
    position: relative;
    outline: none;
  }

  &__confirmation-message-text {
     display: inline-block;
     margin-right: 60px;
  }

  &__hide-button-container {
    @include govuk-media-query(desktop) {
      margin-top: 0;
      display: inline-block;
      position: absolute;
      right: 5px;
    }
  }

  &__hide-button {
    font-weight: 400;
    font-size: 16px;
    outline: 0;
    border: 0;
    background: none;
    text-decoration: underline;
    color: govuk-colour("blue");
    box-shadow: none;
    padding: 0;

    @include govuk-media-query(desktop) {
      font-size: 19px;
    }
  }
}

