@import 'colors.scss';
@import 'breakpoints.scss';

// Basic styles for demonstration purposes only
// TODO refactor, tidy up and extract constants
.cookie-banner {
  color: $black;
  margin: 0;
  vertical-align: baseline;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  background-color: $light-grey;
  padding: 20px 15px;
  box-sizing: border-box;
  display: block;

  &__title {
    font-family: "nta", Arial, sans-serif;
    color: $black;
    font-weight: 700;
    font-size: 18px;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
  }

  p {
    font-family: "nta", Arial, sans-serif;
    color: $black;
    max-width: 960px;
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    margin: 0 0 10px 0;

    @media (min-width: $desktop-width) {
      display: inline-block;
    }
  }

  &__button-row:after {
    content: "";
    display: block;
    clear: both;
  }

  &__button-column {
    @media (min-width: $desktop-width) {
      width: 50%;
      float: left;
    }
  }

  &__confirmation-message, &__question {
    max-width: 960px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    outline: none;
  }

  &__accept-all-cookies, &__set-cookie-preferences {
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    box-sizing: border-box;
    position: relative;
    margin-top: 0;
    border: 2px solid transparent;
    border-radius: 0;
    color: $white;
    background-color: $green;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    cursor: pointer;
    padding: 9px 10px 6px;
    display: block;
    width: 100%;
    vertical-align: top;
    margin-bottom: 20px;
    text-decoration: none;

    @media (min-width: $desktop-width) {
      width: 90%;
    }

    &:focus {
      border-color: $yellow;
      outline: 3px solid transparent;
      box-shadow: inset 0 0 0 1px $yellow;
    }

    &:focus:not(:active):not(:hover) {
      border-color: $yellow;
      color: $black;
      background-color: $yellow;
      box-shadow: 0 2px 0 $black;
    }
  }

  &__hide-button {
    display: block;
    font-family: "nta", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    outline: 0;
    border: 0;
    background: none;
    text-decoration: underline;
    color: #1d70b8;
    padding: 0;
    margin-top: 10px;

    &:focus {
      outline: 3px solid transparent;
      color: $black;
      background-color: $yellow;
      box-shadow: 0 -2px $yellow, 0 4px $black;
      text-decoration: none;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
      display: inline-block;
      position: absolute;
      right: 5px;
    }
  }
}

