@import "lib/govuk-frontend/dist/govuk/base";

.cookie-settings__supported-browser {
  display: none;
}

.cookie-settings__body--browser-supported {
  .cookie-settings__unsupported-browser {
    display: none;
  }

  .cookie-settings__supported-browser {
    display: block;
  }
}
